.auth {
  &__form-wrapper {
    margin: 2rem auto;
    width: 350px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-bottom: 1px solid $color-element;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
  }

  &__error-message {
    color: $color-red;
    top: 12.5%;
    position: absolute;
    padding: 1rem;
    text-align: center;
    // backdrop-filter: blur(70px);
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    & input {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      border: 1px solid $color-element;
      border-radius: 0.5rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    // background-color: $account-background;
    background-color: $gray-color-9;
    color: $color-green;
    // color: rgb(0, 190, 162);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    box-shadow:
      5px 5px 10px 0px rgba(174, 174, 192, 0.2),
      /* -5px -5px 5px 0px rgba(255, 255, 255, 0.4), 2px 2px 4px 0px #fff inset, */ -2px -2px
        4px 0px rgba(0, 0, 0, 0.1) inset;
    transition:
      // transform 0.1s ease-in-out,
      box-shadow 0.3s ease-in-out;

    &:active {
      box-shadow:
        inset 5px 5px 4px 0px rgba(174, 174, 192, 0.2),
        inset -5px -5px 4px 0px rgba(255, 255, 255, 0.3);
      // transform: scale(0.98);
    }
  }

  &__signup-subsection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem;

    & div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__link {
      font-size: 1rem;

      &:hover {
        color: $color-green;
      }
    }

    &__link--accent {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
