.dish {
  height: 100%;
  position: relative;
  padding: 1rem;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  // border: 1px solid #e0e0e0;
  border-radius: $border-radius-s;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  // background: $color-gray-1;
  // background-color: rgba(143, 143, 143, 0.25);
  // backdrop-filter: blur(20px);

  // &:hover {
  //   transform: translateY(-5px);
  // }
  &__calories,
  &__likes {
    z-index: 1;
    background-color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid $color-gray-3;
  }

  &__calories {
    border-radius: 50%;
    // right: 1rem;
    // top: 1rem;
    // right: 0;
    // top: 0;
  }

  &__likes {
    // z-index: -1;
    border: none;
    left: 1rem;
    top: 1rem;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    transform: scale(2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1rem;
    font-weight: 600;
    color: $color-gray-4;
    height: 3rem;
    overflow: hidden;
  }

  &__counter {
    display: flex;
    align-items: center;
    background: $color-gray-1;
    border-radius: $border-radius;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primary;
      border: none;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      font-weight: 200;
      line-height: 1;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #e0e0e0;
        cursor: not-allowed;
      }
    }

    &-value {
      font-size: 1rem;
      font-weight: bold;

      width: 2rem;
    }
  }

  &__price {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    color: #333;
  }

  &__order-button {
    display: flex;
    background-color: $color-primary;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: $border-radius-m;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
