.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $color-background-dark;
  background-image: url("images/hero/hero_bg.png");
  background-size: cover;
  background-position: center;
  color: $color-white;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   background-color: rgba(153, 0, 255, 0.5);
  //   // backdrop-filter: blur(20px);
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   // border-radius: 25% 25% 0 0;
  // }

  // @include on-desktop {
  //   height: auto;
  // }

  &__content {
    margin-top: 160px;
    @include page-grid;
    @include content-padding-inline();
  }

  &__text {
    // position: relative;
    // text-align: center;
    grid-column: 1/6;
    // font-family:
    //   Nova Slim,
    //   Arial,
    //   sans-serif;
    font-size: 60px;
    line-height: 1;
    // text-transform: lowercase;
    @include page-grid;

    & span {
      z-index: 1;
      grid-column: 1/-1;
      font-size: 1.25rem;
      line-height: 1.5;
      justify-self: center;
    }

    & :nth-child(1) {
      // justify-self: center;
      font-size: 60px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      font-family:
        Nova Slim,
        Arial,
        sans-serif;
    }

    & :nth-child(2) {
      grid-column: span 8;
    }

    // @include on-tablet {
    //   font-size: 100px;

    //   & :nth-child(1) {
    //     font-size: 150px;
    //     justify-self: center;
    //   }

    //   & :nth-child(2) {
    //     grid-column: 6/-1;
    //   }

    //   & :nth-child(3) {
    //     grid-column: 2/-1;
    //   }
    // }

    @include on-desktop {
      font-size: 120px;

      // & :nth-child(1) {
      //   // grid-column: 3/-1;
      //   grid-column: 1/-1;
      //   font-size: 140px;
      //   line-height: 1.2;
      // }

      // & :nth-child(2) {
      //   grid-column: 6/-1;
      // }

      // & :nth-child(3) {
      //   grid-column: 1/-1;
      // }
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      background-repeat: no-repeat;
      // background-position: center;
    }

    &::before {
      // background-image: url("images/hero/hero_decor_left.png");
      top: 0;
      left: 0;
      width: 420px;
      height: 263px;
      background-size: contain;
    }

    &::after {
      // background-image: url("images/hero/hero_decor_right.png");
      bottom: 0;
      right: -155px;
      width: 350px;
      height: 300px;
      background-size: contain;
    }
  }

  &__button {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    border-radius: $border-radius-m;
    width: 300px;
    height: 46px;
    font-weight: 500;

    // @include on-tablet {
    //   width: 400px;
    //   margin-block: 80px;
    // }

    // @include on-desktop {
    //   width: 948px;
    //   height: 66px;
    // }
  }
}
