$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1440px;
$border-radius-l: 32px;
$border-radius: 16px;
$border-radius-m: 8px;
$border-radius-s: 4px;
$color-background-light: #ffffff;
$color-background-dark: #0c0c0c;
$color-background-main: #242426;

$color-green: #39ffc4;
$color-red: #ff3974;
$color-yellow: #ffe600;
// $color-primary: #ff6939;
// $color-primary: #ffb039;
$color-primary: #ffb039;
// $color-primary-2: #ffe139;
$color-primary-2: #fff7af;
$color-hover: #d66c00;
$color-inactive: #f5decf;
$color-bg-element: #fff3ec;
$color-bg-error: #fbf3f3; //backgroound error
$color-decorative-1: #321d0b;
$color-decorative-2: #d1af92;
$color-white: white;
$color-gray-1: #f2f2f7; //Button for light
$color-gray-2: #e7e7e8; //Body text
$color-gray-3: #c7c7cc; //Secondary text
$color-gray-4: #8e8e93; //Secondary text 2
$color-gray-5: #636366; //Strokes
$color-gray-6: #3a3a3c; //Separate backgroound

$color-gray-transparent-1: rgba(231, 231, 231, 0.1);
$color-gray-transparent-2: rgba(224, 224, 224, 0.1);
$color-gray-transparent-3: rgba(58, 58, 60, 0.1);

$color-error: #bb2525;
$color-info: #3365cf;
$color-warning: #fdb500;
$color-success: #0c5b1b;
$duration: 0.3s;

$background-img: url("/images/hero/hero_bg.png") center/cover no-repeat fixed;
$blur: blur(20px);
$blur-bg: rgba(143, 143, 143, 0.25);

$shadow: 0 0 4px $color-primary;

$title-fontsize-mobile: 48px;
$title-fontsize-tablet: 54px;
$title-fontsize-desktop: 110px;
$subtitle-fontsize-mobile: 24px;
$subtitle-fontsize-tablet: 32px;
$subtitle-fontsize-desktop: 48px;
$text-fontsize-mobile: 14px;
$text-fontsize-tablet: 16px;
$text-fontsize-desktop: 18px;
$button-fontsize-mobile: 18px;
$button-fontsize-tablet: 20px;
$button-fontsize-desktop: 20px;
