$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;
$border-radius: 16 px;
$color-background-light: #ffffff;
$color-background-dark: #0c0c0c;
$color-background-main: #242426;

$color-background-header: $color-background-main;
$color-background-footer: $color-background-main;

$color-accent: #216cff;
$color-secondary-accent: #f447af;
$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-hoverBG: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;
$duration: 0.3s;
