.burger-menu {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0;
  overflow: hidden;

  span {
    // margin-block: 8px;
    display: block;
    height: 1px;
    background-color: white;
    transition: 0.3s;

    &:nth-child(1) {
      width: 40px;
      transform-origin: 50% 50%;
    }

    &:nth-child(2) {
      width: 25px;
      margin-block: 8px;
      opacity: 1;
      transform-origin: 50% 50%;
    }

    &:nth-child(3) {
      width: 40px;
      transform-origin: 50% 50%;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: rotate(0) translate(0, 0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}
