.burger-menu {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 0.25em;
  padding: 0;
  overflow: hidden; // Hide overflow to prevent visual glitches

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(105, 105, 105);
    margin: 5px 0;
    transition: 0.3s;

    &:nth-child(1) {
      transform-origin: 50% 50%;
    }

    &:nth-child(2) {
      opacity: 1;
      transform-origin: 50% 50%;
    }

    &:nth-child(3) {
      transform-origin: 50% 50%;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: rotate(0) translate(0, 0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  @include on-tablet {
    display: none;
    z-index: 1;
  }
}
