@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base/reset";
@import "base/typography";

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/placeholders";

// Shared component styles
@import "components/buttons";
@import "components/cards";

// body::-webkit-scrollbar {
//   display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
// }

:root {
  --root-font-size: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-size: var(--root-font-size);
}

main {
  // background: $background-img;
  // padding-block: 5rem;
  overflow: hidden;
  // @include content-padding-inline();
}

.container {
  // width: 100%;
  @include content-padding-inline();
}
