.logo {
  font-family: "Nova Slim", system-ui;
  display: flex;
  font-size: 2.25rem;
  // color: white;
  // @include on-desktop {
  //   padding: 1.125rem 1.5rem;
  // }

  & a {
    line-height: 1.2;
  }

  &__image {
    width: 30px;

    @include on-desktop {
      width: 40px;
    }
  }
}
