.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: $color-background-main;
  padding-block: 10rem 5rem;
  max-height: min-content;
  transform: translateY(-100%); /* Start off-screen on top */
  transition: transform 0.3s ease-in-out;

  &__container {
    display: flex;
    gap: 1.75rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: max-content;
    // @include on-tablet {
    //   gap: 3rem;
    // }

    // @include on-desktop {
    //   gap: 4rem;
    // }

    // @include on-mobile {
    //   & :last-child {
    //     order: -2;
    //   }
    // }
  }

  &__item {
    position: relative;
    display: flex;
    padding-block: 1rem;
    padding-inline: 2.5rem;
    color: white;
  }

  &__link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    width: max-content;

    @include on-tablet {
      font-size: 2rem;
      line-height: 1.15;
    }
    @include hover(color, $color-primary);

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      background: $color-white;
      transform: rotate(45deg) translateY(-50%);
    }

    &:hover::before {
      background: $color-primary;
    }

    &.active {
      color: $color-primary;
    }
    &.active::before {
      background: $color-primary;
    }
  }

  &__image-container {
    border-radius: $border-radius;
    overflow: hidden;
    height: 470px;
    width: 100%;

    @include on-mobile {
      display: none;
    }
  }

  &__image {
    @include on-tablet {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.open {
  transform: translateY(0); /* Slide in from the right */
}
