.nav {
  @include on-mobile {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    // background-color: $blur-bg;
    backdrop-filter: blur(50px);
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh; /* Set the height to 100% of the viewport height */
    transform: translateX(100%); /* Start off-screen on the right */
    transition: transform 0.3s ease-in-out;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include on-tablet {
      flex-direction: row;
      padding-inline: 2rem;
    }
  }

  &__item {
    display: flex;
    padding-block: 1rem;

    @include on-tablet {
      padding-block: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: $button-fontsize-mobile;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
    width: max-content;

    @include on-tablet {
      font-size: $button-fontsize-tablet;
    }
    @include hover(color, $color-primary);

    // &::before {
    //   content: "";
    //   width: 1rem;
    //   height: 1rem;
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   background: $color-white;
    //   transform: rotate(45deg) translateY(-50%);
    // }

    // &:hover::before {
    //   background: $color-primary;
    // }

    &.active {
      color: $color-primary;
    }
    // &.active::before {
    //   background: $color-primary;
    // }
  }

  // &__image-container {
  //   border-radius: $border-radius;
  //   overflow: hidden;
  //   height: 470px;
  //   width: 100%;

  //   @include on-mobile {
  //     display: none;
  //   }
  // }

  // &__image {
  //   @include on-tablet {
  //     height: 100%;
  //     width: 100%;
  //     object-fit: cover;
  //   }
  // }
}

.open {
  transform: translateY(0); /* Slide in from the right */
}
