.header {
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  background-color: $color-background-header;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 1px 0 0 $card-background;
  padding-inline: 16px;

  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__buttons {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }
}
