.header {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0;
  // padding-top: 1.5rem;
  // padding-bottom: 0.5rem;
  height: 80px;
  color: $color-white;
  // background-color: $color-background-main;
  background-color: rgba(9, 6, 19, 0.5);
  background-image: url("images/hero/hero_bg.png");
  background-size: auto;
  // background-repeat: no-repeat;
  background-position: top;
  // backdrop-filter: blur(20px);
  width: 100%;

  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__login {
    border: 1px solid $color-primary;
    border-radius: $border-radius-s;
    color: $color-primary;
    width: 85px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  &__buttons {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }
}
