.header {
  z-index: 3;
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  // background-color: $color-background-main;
  background-color: $color-background-dark;
  width: 100%;
  border-bottom: 1px solid #f5decf;

  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__login {
    border: 1px solid $color-primary;
    border-radius: $border-radius-s;
    color: $color-primary;
    width: 85px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  &__buttons {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }
}
