.footer {
  background-color: $color-background-main;
  padding-block: 80px 40px;
  color: $color-white;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__logo {
    padding: 0;
  }

  &__nav-title {
    font-size: 1.25rem;
  }

  &__nav-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;

    // @include on-desktop {
    //   gap: 106px;
    // }
  }

  &__nav-item {
    display: flex;

    & .nav__link {
      font-size: 1rem;
    }
  }

  &__socials {
    display: flex;
    gap: 16px;
  }

  &__button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-weight: 700;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    background-color: inherit;
    // color: $color-secondary;
    cursor: pointer;

    @include hover(color, $color-primary);

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      height: 30px;
      border: 1px solid $color-white;
      border-radius: 50%;

      @include hover(border-color, $color-primary);
    }
  }
}

.icon--arrow-up {
  width: 20px;
  height: 20px;
}
