.table {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 200px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */

  &--vertical {
    transform: rotate(90deg);

    .table__number {
      transform: rotate(-90deg);
      top: auto;
      bottom: 8px;
      left: 8px;
    }

    .table__status {
      transform: rotate(-90deg);
      bottom: auto;
      top: 24px;
      left: 8px;
    }
  }

  &--vacant .table__chair {
    background-color: #ccc;
  }

  &--occupied .table__chair--reserved {
    background-color: #47ff7b; /* Adjust color as needed */
  }

  &--reserved .table__chair--reserved {
    background-color: #ff6347; /* Adjust color as needed */
  }

  &__number {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.25rem;
    color: $color-gray-5;
    font-weight: bold;
  }

  &__status {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 0.875rem;
    color: $color-gray-5;
  }

  &__chairs {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__chairs--top {
    top: -14px;
  }

  &__chairs--bottom {
    bottom: -14px;
  }

  &__chair {
    width: 40px;
    height: 10px;
    background-color: #ccc;
    border-radius: 1rem 1rem 0.3rem 0.3rem; /* Semi-spherical shape */

    &--bottom {
      border-radius: 0.3rem 0.3rem 1rem 1rem; /* Invert semi-spherical shape */
    }
  }
}
